.features {
  padding: 100px 100px 80px 100px;
  background: #fbfbfb;
}

.feature {
  display: flex;
  min-height: 300px;
  align-items: center;
  margin-bottom: 70px;
}

.feature h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin: 20px 0px;
}

.feature p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #333333;
}

.feature > * {
  flex: 1;
}

.feature > * + * {
  margin-left: 50px;
}

.irisPieChart {
  display: flex;
  background: #ffffff;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}

.chartHeader {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 8.55967px;
  line-height: 10px;
  color: #333333;
}

@keyframes shirnk {
  0% {
    flex: 0.5
  }
  30% {
    flex: 0.5
  }
  70% {
    flex: 1.3
  }
  100% {
    flex: 1.3
  }
}

.pidChart {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartFotter {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 6.41975px;
  line-height: 8px;
  color: #cccccc;
}

.chart {
  background: #fbfbfb;
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  animation: 5s ease-in-out 0s infinite alternate shirnk;
}

.text {
  flex: 1;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #333333;
  height: 180px;
  display: -webkit-box;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  width: 26px;
  position: relative;
}

.divider::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  margin: auto;
  background: #dedede;
}

.featureInteractive {
  display: flex;
  flex-direction: column;
  padding: 20px
}

.featureInteractiveRow {
  display: flex;
  margin-bottom: 26px;
}

.featureInteractiveRow > div {
  position: relative;
  display: flex;
}

.shadow {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.featureSlashCommand {
  position: relative;
  flex: 1;
  margin-left: 24px;
}

.featureTableAndNumber {
  flex-direction: column;
  flex: 2;
}

.featureNumberChart {
  width: 80%;
  margin-top: 32px;
  margin-left: auto;;
}

@media screen and (max-width: 966px) {
  .features {
    padding: 40px 20px;
  }
  .feature {
    flex-direction: column;
  }
  .feature > * {
    width: 100%;
  }
  .feature > * + * {
    margin-left: 0;
  }

  .text {
    -webkit-line-clamp: 10;
  }
  .pidChart img {
    width: 62px;
    height: 62px;
  }
}
